{% extends 'content.html.twig' %}

{% block title %}
	{% if is_granted('ROLE_AGENT') %}
		Offres
	{% else %}
		Ventes
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/pages/features/ktdatatable/base/html-tablee8da.js?v=2.0.3') }}"></script>
	<script src="{{ asset('js/pages/features/ktdatatable/base/html-tablee8da_others.js?v=2.0.3') }}"></script>
{% endblock %}

{% block content_header %}
	{% if is_granted('ROLE_AGENT') %}
		<ul class="menu-nav">
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('agent_index') }}" class="menu-link">
					<span class="menu-text">Accueil</span>
				</a>
			</li>
			<li class="menu-item menu-item-active" aria-haspopup="true">
				<a href="{{ path('offer_index') }}" class="menu-link">
					<span class="menu-text">Offres</span>
				</a>
			</li>
		</ul>
	{% elseif is_granted('ROLE_SUPERVISEUR') %}
		<ul class="menu-nav">
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('superviseur_index') }}" class="menu-link">
					<span class="menu-text">Accueil</span>
				</a>
			</li>
			<li class="menu-item menu-item-active" aria-haspopup="true">
				<a href="{{ path('offer_index') }}" class="menu-link">
					<span class="menu-text">Ventes</span>
				</a>
			</li>
		</ul>
	{% elseif is_granted('ROLE_BACKOFFICE') %}
		<ul class="menu-nav">
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('back_office_index') }}" class="menu-link">
					<span class="menu-text">Accueil</span>
				</a>
			</li>
			<li class="menu-item menu-item-active" aria-haspopup="true">
				<a href="{{ path('offer_index') }}" class="menu-link">
					<span class="menu-text">Ventes</span>
				</a>
			</li>
		</ul>
	{% elseif is_granted('ROLE_ADMINISTRATEUR') %}
		<ul class="menu-nav">
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('administrateur_index') }}" class="menu-link">
					<span class="menu-text">Accueil</span>
				</a>
			</li>
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('utilisateur_index') }}" class="menu-link">
					<span class="menu-text">Utilisateurs</span>
				</a>
			</li>
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('client_index') }}" class="menu-link">
					<span class="menu-text">Clients</span>
				</a>
			</li>
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('produit_index') }}" class="menu-link">
					<span class="menu-text">Produits</span>
				</a>
			</li>
			<li class="menu-item menu-item-active" aria-haspopup="true">
				<a href="{{ path('offer_index') }}" class="menu-link">
					<span class="menu-text">Ventes</span>
				</a>
			</li>
			<li class="menu-item" aria-haspopup="true">
				<a href="{{ path('autre_index') }}" class="menu-link">
					<span class="menu-text">Autres</span>
				</a>
			</li>
		</ul>
	{% endif %}
{% endblock %}

{% block content_subheader %}
	<!--begin::Page Title-->

	{% if is_granted('ROLE_AGENT') %}
		<h5 class="text-dark font-weight-bold my-1 mr-5">Offres</h5>
	{% else %}
		<h5 class="text-dark font-weight-bold my-1 mr-5">Ventes</h5>
	{% endif %}
	<!--end::Page Title-->
	<!--begin::Breadcrumb-->
	<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
		<li class="breadcrumb-item text-muted">
			<span class="text-muted">Application</span>
		</li>

		{% if is_granted('ROLE_AGENT') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('agent_index') }}" class="text-muted">Accueil</a>
			</li>
		{% elseif is_granted('ROLE_SUPERVISEUR') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('superviseur_index') }}" class="text-muted">Accueil</a>
			</li>
		{% elseif is_granted('ROLE_BACKOFFICE') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('back_office_index') }}" class="text-muted">Accueil</a>
			</li>
		{% elseif is_granted('ROLE_ADMINISTRATEUR') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('administrateur_index') }}" class="text-muted">Accueil</a>
			</li>
		{% endif %}

		{% if is_granted('ROLE_AGENT') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('offer_index') }}" class="text-muted">Les offres</a>
			</li>
		{% else %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('offer_index') }}" class="text-muted">Les ventes</a>
			</li>
		{% endif %}
	</ul>
	<!--end::Breadcrumb-->
{% endblock %}

{% block content_body %}
	<!--begin::Content-->
	<div
		class="content d-flex flex-column flex-column-fluid" id="kt_content">
		<!--begin::Entry-->
		<div
			class="d-flex flex-column-fluid">
			<!--begin::Container-->
			<div
				class="container">
				<!--begin::Card-->
				<div
					class="card card-custom">
					<!--begin::Card-Header-->
					<div class="card-header flex-wrap border-0 pt-6 pb-0">
						<div class="card-title">
							<h3 class="card-label">
								{% if is_granted('ROLE_AGENT') %}
									Liste Offres
									<span class="d-block text-muted pt-2 font-size-sm">La liste de toutes les offres de l'agent</span>
								{% else %}
									Liste Ventes
								{% endif %}
							</h3>
						</div>
					</div>
					<!--end::Card-Header-->
					{% set var = [1, 2, 3, 4, 5, 6, 7, 8] %}

					{% if is_granted('ROLE_AGENT') %}
						<!--begin::Card-Body-->
						<div
							class="card-body">
							<!--begin::Search Form-->
							<div class="mb-7">
								<div class="row align-items-center">
									<div class="col-lg-9 col-xl-8">
										<div class="row align-items-center">
											<div class="col-md-6 my-2 my-md-0">
												<div class="input-icon">
													<input type="text" class="form-control" placeholder="Recherche..." id="kt_datatable_search_query"/>
													<span>
														<i class="flaticon2-search-1 text-muted"></i>
													</span>
												</div>
											</div>
											<div class="col-md-6 my-2 my-md-0">
												<div class="d-flex align-items-center">
													<label class="mr-3 mb-0 d-none d-md-block">Statut Offre</label>
													<select class="form-control" id="kt_datatable_search_statut">
														<option value="">Toutes</option>
														<option value="1">Offres validées</option>
														<option value="2">Offres non-validées</option>
														<option value="3">Offres annulées</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
										<a href="#" class="btn btn-light-primary px-6 font-weight-bold">Rechercher</a>
									</div>
								</div>
							</div>
							<!--end: Search Form-->

							<!--begin: Datatable-->
							<table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
								<thead>
									<tr>
										<th title="Field #1">Code Offre</th>
										<th title="Field #2">Code Client</th>
										<th title="Field #3">Type Client</th>
										<th title="Field #4">Nom Client</th>
										<th title="Field #5">Prénom Client</th>
										<th title="Field #6">Nom Société</th>
										<th title="Field #7">Email Client</th>
										<th title="Field #8">Date Creation</th>
										<th title="Field #9">Date Validation</th>
										<th title="Field #10">Produits</th>
										<th title="Field #11">Téléphone Fixe Client</th>
										<th title="Field #12">N° GSM Client</th>
										<th title="Field #13">Adresse Installation</th>
										<th title="Field #14">Date Installation</th>
										<th title="Field #15">Statut</th>
										<th title="Field #16">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for item in produitsParoffre %}
										<tr>
											<td>{{ item[0].code }}</td>
											<td>{{ item[0].client.code }}</td>
											<td>{{ item[0].client.typeClient }}</td>
											<td>
												{% if item[0].client.nom is empty %}
													-
												{% else %}
													{{ item[0].client.nom }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.prenom is empty %}
													-
												{% else %}
													{{ item[0].client.prenom }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.nomSociete is empty %}
													-
												{% else %}
													{{ item[0].client.nomSociete }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.email is empty %}
													-
												{% else %}
													{{ item[0].client.email }}
												{% endif %}
											</td>
											<td>
												{% if item[0].dateCreation is empty %}
													-
												{% else %}
													{{ item[0].dateCreation|date('Y-m-d')}}
												{% endif %}
											</td>
											<td>
												{% if item[0].dateSignature is empty %}
													-
												{% else %}
													{{ item[0].dateSignature|date('Y-m-d')}}
												{% endif %}
											</td>
											<td>
												{% if item[1] is empty %}
													-
												{% else %}
													{% for pdt in item[1] %}
														<p>
															<span class="font-weight-boldest text-primary">+</span>
															{{pdt.produit.designation}}
															[<span class="font-weight-bolder">{{pdt.qte}}</span>]
														</p>
													{% endfor %}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.numTelephoneFixe is empty %}
													-
												{% else %}
													{{ item[0].client.numTelephoneFixe }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.numGSM is empty %}
													-
												{% else %}
													{{ item[0].client.numGSM }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.adresseInstallation is empty %}
													-
												{% else %}
													{{ item[0].client.adresseInstallation }}
												{% endif %}
											</td>
											<td>
												{% if item[0].client.dateInstallation is empty %}
													-
												{% else %}
													{{ item[0].client.dateInstallation|date('Y-m-d') }}
												{% endif %}
											</td>
											{% if item[0].dateSignature and item[0].dateAnnulation is null %}
												<td>1</td>
											{% elseif item[0].dateAnnulation %}
												<td>3</td>
											{% else %}
												<td>2</td>
											{% endif %}
											<td>
												<a href="{{path('offer_edit', {'id': item[0].id})}}" class="d-inline btn btn-sm btn-clean btn-icon mr-2" title="Modification Offre">
													<span class="svg-icon svg-icon-md">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24"/>
																<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" \ transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
																<rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
															</g>
														</svg>
													</span>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<!--end: Datatable-->
						</div>
						<!--end::Card-Body-->
					{% else %}
						<!--begin::Card-Body-->
						<div
							class="card-body">
							<!--begin::Search Form-->
							<div class="mb-7">
								<div class="row align-items-center">
									<div class="col-md-4 my-2 my-md-0">
										<div class="input-icon">
											<input type="text" class="form-control" placeholder="Recherche..." id="kt_datatable_search_query_others"/>
											<span>
												<i class="flaticon2-search-1 text-muted"></i>
											</span>
										</div>
									</div>
									<div class="col-md-4 my-2 my-md-0">
										<div class="d-flex align-items-center">
											<label class="mr-3 mb-0 d-none d-md-block">Statut Tingis:</label>
											<select class="form-control" id="kt_datatable_search_statut_tingis_others">
												<option value="">Toutes</option>
												<option value="1">Annulé</option>
												<option value="2">En attente</option>
												<option value="3">Encodé</option>
											</select>
										</div>
									</div>
									<div class="col-md-4 my-2 my-md-0">
										<div class="d-flex align-items-center">
											<label class="mr-3 mb-0 d-none d-md-block">Statut Proximus:</label>
											<select class="form-control" id="kt_datatable_search_statut_proximus_others">
												<option value="">Toutes</option>
												<option value="1">Close Gagnée</option>
												<option value="2">Close Perdue</option>
												<option value="3">En attente d'encodage</option>
												<option value="4">NA</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!--end: Search Form-->

							<!--begin: Datatable-->
							<table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_others">
								<thead>
									<tr>
										<th title="Field #1">Code Offre</th>
										<th title="Field #2">Code Agent</th>
										<th title="Field #3">Code Client</th>
										<th title="Field #4">Type Client</th>
										<th title="Field #5">Nom Client</th>
										<th title="Field #6">Prénom Client</th>
										<th title="Field #7">Nom Société</th>
										<th title="Field #8">Produits</th>
										<th title="Field #9">Date Creation</th>
										<th title="Field #10">Date Signature</th>
										<th title="Field #11">Email Client</th>
										<th title="Field #12">Téléphone Fixe Client</th>
										<th title="Field #14">Adresse Installation</th>
										<th title="Field #15">Date Installation</th>
										<th title="Field #16">Statut_Tingis</th>
										<th title="Field #17">Statut_Proximus</th>
										<th title="Field #18">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for item in produitsParvente %}
										<tr>
											<td>{{ item[0].code }}</td>
											<td>{{ item[0].agent.code }}</td>
											<td>{{ item[0].client.code }}</td>
											<td>{{ item[0].client.typeClient }}</td>
											<td>{{ item[0].client.nom }}</td>
											<td>{{ item[0].client.prenom }}</td>
											<td>{{ item[0].client.nomSociete }}</td>
											<td>
												{% if item[1] is empty %}
													-
												{% else %}
													{% for pdt in item[1] %}
														<p>
															<span class="font-weight-boldest text-primary">+</span>
															{{pdt.produit.designation}}
															[<span class="font-weight-bolder">{{pdt.qte}}</span>]
														</p>
														<p>
															<span class="font-weight-bolder">Tingis</span>={{pdt.statutTingis}}
														</p>
														<p>
															<span class="font-weight-bolder">Proximus</span>={{pdt.statutProximus}}
														</p>
													{% endfor %}
												{% endif %}
											</td>
											<td>{{ item[0].dateCreation|date('Y-m-d')}}</td>
											<td>{{ item[0].dateSignature|date('Y-m-d')}}</td>
											<td>{{ item[0].client.email }}</td>
											<td>{{ item[0].client.numTelephoneFixe }}</td>
											<td>{{ item[0].client.adresseInstallation }}</td>
											<td>{{ item[0].client.dateInstallation|date('Y-m-d') }}</td>
											<td>1</td>
											<td>3</td>
											<td>
												<a href="{{path('offer_edit', {'id': item[0].id})}}" class="d-inline btn btn-sm btn-clean btn-icon mr-2" title="Modification Offre">
													<span class="svg-icon svg-icon-md">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24"/>
																<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" \ transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
																<rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
															</g>
														</svg>
													</span>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<!--end: Datatable-->
						</div>
						<!--end::Card-Body-->
					{% endif %}
				</div>
				<!--end::Card-->
			</div>
			<!--end::Container-->
		</div><!--end::Entry--></div><!--end::Content-->{% endblock %}
