{% extends 'content.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block content_header %}
	<ul class="menu-nav">
		<li class="menu-item" aria-haspopup="true">
			<a href="{{ path('administrateur_index') }}" class="menu-link">
				<span class="menu-text">Accueil</span>
			</a>
		</li>
		<li class="menu-item" aria-haspopup="true">
			<a href="{{ path('utilisateur_index') }}" class="menu-link">
				<span class="menu-text">Utilisateurs</span>
			</a>
		</li>
		<li class="menu-item" aria-haspopup="true">
			<a href="{{ path('client_index') }}" class="menu-link">
				<span class="menu-text">Clients</span>
			</a>
		</li>
		<li class="menu-item" aria-haspopup="true">
			<a href="{{ path('produit_index') }}" class="menu-link">
				<span class="menu-text">Produits</span>
			</a>
		</li>
		<li class="menu-item" aria-haspopup="true">
			<a href="{{ path('offer_index') }}" class="menu-link">
				<span class="menu-text">Ventes</span>
			</a>
		</li>
		<li class="menu-item menu-item-active" aria-haspopup="true">
			<a href="{{ path('autre_index') }}" class="menu-link">
				<span class="menu-text">Autres</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content_subheader %}
	<!--begin::Page Title-->
	<h5 class="text-dark font-weight-bold my-1 mr-5">{{subheader}}</h5>
	<!--end::Page Title-->

	<!--begin::Breadcrumb-->
	<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
		<li class="breadcrumb-item text-muted">
			<span class="text-muted">Application</span>
		</li>
		<li class="breadcrumb-item text-muted">
			<a href="{{ path('administrateur_index') }}" class="text-muted">Accueil</a>
		</li>
		{% if subheader == "Les Catégories" %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('produit_index') }}" class="text-muted">{{subheader}}</a>
			</li>
			<li class="breadcrumb-item text-muted">
				<a href="#" class="text-muted">Modifier Catégorie</a>
			</li>
		{% elseif subheader == "Les Fournisseurs" %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('client_index') }}" class="text-muted">{{subheader}}</a>
			</li>
			<li class="breadcrumb-item text-muted">
				<a href="#" class="text-muted">Modifier Fournisseur</a>
			</li>
		{% elseif subheader == "Les Raisons" %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('autre_index') }}" class="text-muted">{{subheader}}</a>
			</li>
			<li class="breadcrumb-item text-muted">
				<a href="#" class="text-muted">Modifier Raison</a>
			</li>
		{% elseif subheader == "Les Rémunérations" %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('autre_index') }}" class="text-muted">{{subheader}}</a>
			</li>
			<li class="breadcrumb-item text-muted">
				<a href="#" class="text-muted">Modifier Rémunération</a>
			</li>
		{% endif %}
	</ul>
	<!--end::Breadcrumb-->
{% endblock %}

{% block content_body %}
	<!--begin::Content-->
	<div
		class="content d-flex flex-column flex-column-fluid" id="kt_content">
		<!--begin::Entry-->
		<div>
			<!--begin::Container-->
			<div class="container-sm">
				{{ form_start(form, {'attr': {'class': 'form'}}) }}
				<div
					class="card card-custom">
					<!--begin::Header-->
					<div class="card-header py-3">
						<div class="card-title align-items-start flex-column">
							<h3 class="card-label font-weight-bolder text-dark">{{subheader}}</h3>
							<span class="text-muted font-weight-bold font-size-sm mt-1">{{subheader_2}}</span>
						</div>
					</div>
					<!--end::Header-->

					<!--begin::Body-->
					<div class="card-body">
						<div>
							<div class="form-group">
								{% if route == "produit_index" %}
									<label>Nom Catégorie</label>
									{{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-solid form-control-lg', 'placeholder': 'Nom Catégorie'}}) }}
								{% elseif route == "client_index" %}
									<label>Nom Fournisseur</label>
									{{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-solid form-control-lg', 'placeholder': 'Nom Fournisseur'}}) }}
								{% elseif route == "autre_index" and subheader == "Les Raisons" %}
									<label>Motif</label>
									{{ form_widget(form.motif, {'attr': {'class': 'form-control form-control-solid form-control-lg', 'placeholder': 'Motif Annulation'}}) }}
								{% elseif route == "autre_index" and subheader == "Les Rémunérations" %}
									<label>Montant</label>
									{{ form_widget(form.montant, {'attr': {'class': 'form-control form-control-solid form-control-lg', 'placeholder': 'Montant'}}) }}
								{% endif %}
							</div>
						</div>
					</div>
					<!--end::Body-->

					<!--begin::Footer-->
					<div class="card-footer py-5 px-5">
						<div class="card-toolbar float-right">
							<button type="submit" class="btn btn-primary font-weight-bolder px-5 mr-3">
								Enregistrer
							</button>
							<a href="{{ path(route) }}" class="btn btn-light-primary font-weight-bold px-5 mr-3">
								Annuler
							</a>
						</div>
					</div>
					<!--end::Footer-->
				</div>
				{{ form_end(form) }}

			</div>
			<!--end::Container-->
		</div>
		<!--end::Entry-->
	</div>
	<!--end::Content-->
{% endblock %}
